header {
    outline-color: #000000;
    outline-style: solid;
    outline-width: 5px;
    background-color: #ffcc00;
    padding: 20px;
    text-align: center; 
}

body {
    font-family: 'Bangers', cursive;
    border: 10px solid #333;
    margin: 0;
    background-color: #fdfdfd;
    padding: 0px;
    background-image: radial-gradient(black 0.5px, transparent 0.5px);
    background-size: 5px 5px;
}

p {
    font-family: 'Bangers', sans-serif;
    letter-spacing: 1px;
    color: black;
}

p.descripcion {
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
    color: rgb(38, 38, 38);
}

p.p-pie {
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
    color: white;
}

h1 {
    color: #ffffff;
    font-size: 64px;
    -webkit-text-stroke: 1.5px black;
}

h2 {
    color: white;
    -webkit-text-stroke: 1px black;
    letter-spacing: 3px;
    font-family: 'Bangers', bold;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0px;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: linenone;
    color: #333;
}

main {
    padding: 20px;
    float: center;
    min-height: 60vh;
}

.generaciones-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 24px;
    min-height: 60vh;
}

section {
    border: 5px solid #333;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.inicio-section {
    background-color: #ffcc00;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 24px 24px 0 24px;
    text-align: center;
    line-height: 25px;
}



.imagenes-iniciales {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 15px;
}

.imagenes-iniciales img {
    transition: transform 0.2s;
    cursor: pointer;
}

.imagenes-iniciales img:hover {
    transform: scale(1.15);
}

footer {
    text-align: center;
    background-color: #333;
    margin-bottom: 0px;
    margin-top: auto;
    padding: 15px;
    color: white;
}
    